*{

	font-family: Helvetica;
}

li {
	list-style: none;
	display: inline;
	text-align: center;
	color:white;
}

nav {

	background-color: #330000;
	padding-top: 1px;
	padding-bottom: 1px;
}

ul {

	text-align: center;
}

article {

width:450px; 
padding-left: 200px;
padding-top: 50px;

float:left;

}

footer p{
color: white;
 background-color: #330000;
margin-top:400px;
padding-bottom: 10px;
padding-top: 10px;
text-align: left;
}

a {

	text-decoration: none;
	color:inherit;
}

header {

	background-image: url(cafe.png); 
	background-size: 1500px;

}

#logo {

	padding-top: 100px;
	padding-left: 610px;
	padding-bottom: 15px;
}

