ul{
list-style-type: none; 

}

*{
	color: #006b6e;
}

header{
	
	bottom: 200px;
	border-bottom: 1px solid black;
}

h1{

	display: inline;
	font-family: Impact;
}

p{

	font-family: Verdana;
}
h3 {

font-family: Verdana;
font-size: 12px;
}

#nav{
	font-family: Verdana;
	display: inline;
	float: right; 
	padding-top: 20px;
	padding-right: 20px;
}

#aside{
float: left;
font-family: Verdana;
padding-top: 20px;
line-height: 40px;
width: 300px;

}

#SUPER {

	font-size: 58px;
}

section {
	padding-top: 20px;
	padding-right: 300px;
	padding-left: 100px;
float: right;
width: 800px;

}

footer{
border-top: 1px solid black;
	float: left;
	
}